redis_port=6379
redis_host=redis
redis_password=

url=postgresql+asyncpg://USER:PASSWORD@HOST:5432/DATABASE
sing=UMA_CHAVE_LONGA_E_ALEATORIA
origin=http://localhost:3000

rate_limit=100
global_rate_limit=1000

email_user=conta@gmail.com
password_user=SENHA_DE_APLICATIVO

open_ai_key=SUA_CHAVE_OPENAI
environment=test
test_email=
